h1 {
  font-size: 2rem;
}

p {
  font-size: 1.25rem;
}

nav {
  padding-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul li a {
  display: block;
  text-align: center;
  float: left;
}

ul li a:hover {
  background-color: #0a4b3e;
}

.modal-panel { /* The black/shadowed space behind the modal itself. */
  z-index: 1;
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.75;
  background-color: #020202;
}

.modal-content-pane {
  z-index: 2;
  display: none;
  background-color: blanchedalmond;
  margin: 10% auto;
  width: 80%;
}

.modal-content {
  z-index: 3;
  display: none;
  background-color: aliceblue;
  width: 75%;
}

header {
  background-color: darkcyan;
}

body {
  background-color: beige;
}
